@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

#headerLinks a {
    margin-right: 10px;
}

main {
    padding: 15px;
}
